@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: Raleway;
}
html body{
    padding:0px;
    margin: 0px;
}
.main-header{
    background-color: rgb(0, 1, 23);
    height: 10vh;
    width: 100vw;
    display: flex;
    font-size: 1.1em ;
}
.nav{
    height: 5hv;
    width: 100vw;
    display: flex;
    align-items: center;
}
.nav ul{
    position: absolute;
    text-align: end;
    height:5vh ;
    width:100vw;    
}
.nav li{
    display: inline;
    margin: 1vw;
}
.nav a{
    display: inline-block;
    color :white;
    text-decoration: none;
    background-color: transparent;
    transition:all ease 0.3s;
    background-size: cover;
}
.nav a:hover {
    background-color: rgb(255, 255, 255, 0.3);
}
.main-header-nav ul{
    margin: 0px;
    display: flex;
    justify-content: space-between;
} 
.main{
    background-color: rgba(255, 217, 146, 0.547);
    padding:0px;    
    height: 100vh;
    width: 100vw;
}
.home-button{
    position: absolute;
    height: 6vh;
    width: 3vw;
    margin-right: 167vw;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    min-width: 100vw;
}
.main-content-title {
    width: 30vw;
    color: black;
    border-bottom: 1px solid black;
    display:flex;
    justify-content: center;
}
.main-footer{
display: flex;
flex-direction: row;
}
.main-footer img{
    height: 5vh;
    width: 5vh;
}
.main-footer-img{
    position: absolute;
    text-align: end;
    height:5vh ;
    width:100vw;   
    padding-top: 2vh;
}
.main-footer-conteiner {
    display: flex;
    align-items: center;
    background-color: rgba(0, 1, 23, 0.757);
    min-width: 100vw;
}
.main-footer-title{
    font-size: 0.8em;
    padding: 1em;
}
.card-conteiner{
   min-height: 80vh;
   min-width: 100vw;
   background-color: black;
   padding: 2em;
   display: flex;
   justify-content: center;
}
.card{
height: 60vh;
width: 20vw;
background-color: rgb(255, 255, 255);
border-radius: 20px;
color: black;
}