@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: Raleway;
}
html body{
    padding:0px;
    margin: 0px;
}
.main-header{
    background-color: rgb(0, 1, 23);
    height: 10vh;
    width: 100vw;
    display: flex;
    font-size: 1.1em ;
}
.nav{
    height: 5hv;
    width: 100vw;
    display: flex;
    align-items: center;
}
.nav ul{
    position: absolute;
    text-align: end;
    height:5vh ;
    width:100vw;    
}
.nav li{
    display: inline;
    margin: 1vw;
}
.nav a{
    display: inline-block;
    color :white;
    text-decoration: none;
    background-color: transparent;
    transition:all ease 0.3s;
    background-size: cover;
}
.nav a:hover {
    background-color: rgb(255, 255, 255, 0.3);
}
.main-header-nav ul{
    margin: 0px;
    display: flex;
    justify-content: space-between;
} 
.main{
    background-color: rgba(255, 217, 146, 0.547);
    padding:0px;    
    height: 100vh;
    width: 100vw;
}
.home-button{
    position: absolute;
    height: 6vh;
    width: 3vw;
    margin-right: 167vw;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 82vh;
    min-width: 100vw;
}
.main-content-title {
    width: 30vw;
    color: black;
    border-bottom: 1px solid black;
    display:flex;
    justify-content: center;
}
.main-footer{
display: flex;
flex-direction: row;
max-height: 8vh;
}
.main-footer img{
    height: 5vh;
    width: 5vh;
}
.main-footer-img{
    position: absolute;
    text-align: end;
    height:5vh ;
    width:100vw;   
    padding-top: 2vh;
}
.main-footer-conteiner {
    display: flex;
    align-items: center;
    background-color: rgba(0, 1, 23, 0.757);
    min-width: 100vw;
}
.main-footer-title{
    font-size: 0.8em;
    padding: 1em;
}
.card-conteiner{
   min-height: 71vh;
   min-width: 100vw;
   background-color: black;
   padding: 2em;
   display: flex;
   justify-content: center;
}
.card{
    height: 60vh;
    width: 20vw;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: black;
}
.store-conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-1 img {
    height: 50vh;
    width: 32vh;
    border-radius: 5px;
}
.card-description{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}
.item-price{
    color: black;
}
.item-shop-button{
    height: 4vh;
    width: 5vw;
    border-radius: 1em;
}
.card-title{
    color:black;
    text-align: center;
}
.content-section{
   height: 30vh;
   min-width: 100vw;
}
.item-quantity,
.item-price{
    max-width: 4vh;
    max-height: 4vh;
}
.shopping-cart-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.item-title-header,
.item-price-header,
.item-quantity-header{
    color: black;
    padding: 5vh;
}
.shopping-cart-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopping-cart-row input{
    margin-left: 10px;
}
.shopping-cart-conteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cart-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
}
.cart-title{
    width: 20vh;
    color: black;
    border-bottom: 1px solid black;
    text-align: center;
}
.cart-img{
    max-width: 2vh;
    max-height: 2vh;
}
.cart-remove-button{
    width: 8vh;
    height: 8vh;
}
.remove-button{
    min-width: 5vw;
    min-height: 4vh;
    color: black;  
}
.remove-title{
    color: rgb(255, 255, 255);
    border-bottom: rgb(255, 255, 255);

}